@model OMSproject.DTO.Home
@{
    ViewData["Title"] = "Index";
}

<div class="header">
    <div class="container-fluid d-flex align-items-center justify-content-between">
        <div class="header-text">Dashboard / Home</div>


        <div class="d-flex flex-shrink-0">
            <a href="#" class="btn btn-sm btn-primary">Get Pro</a>
        </div>
    </div>
</div>

@*<form>*@
<fieldset>

    <div class="container-fluid">

        <div class="row mb-4">
            <div class="col-sm-3 mb-2">
                <div class="card">
                    <div class="card-body flexer">

                        <span class="d-flex align-items-center ms-2">
                            <h5 class="card-title fs-3 fw-bolder badger btn-dark">@Model.New</h5>
                        </span>
                        <span class="d-flex flex-column align-items-start ms-2">
                            <span class="card-title fs-3 fw-bolder">New Orders</span>
                            <span class="card-text">
                                @*Orders thats Submited to the system*@
                                Some description
                            </span>
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-sm-3 mb-2">
                <div class="card">
                    <div class="card-body flexer">
                        <span class="d-flex align-items-center ms-2">
                            <h5 class="card-title fs-3 fw-bolder badger btn-dark">@Model.InProgress</h5>
                        </span>
                        <span class="d-flex flex-column align-items-start ms-2">
                            <span class="card-title fs-3 fw-bolder">Inprogress</span>
                            <span class="card-text">
                                @*Orders Thats Been on Work Progress*@
                                Some description
                            </span>
                        </span>
                    </div>

                </div>
            </div>
            <div class="col-sm-3 mb-2">
                <div class="card">
                    <div class="card-body flexer">
                        <span class="d-flex align-items-center ms-2">
                            <h5 class="card-title fs-3 fw-bolder badger btn-dark">@Model.Delivred</h5>
                        </span>
                        <span class="d-flex flex-column align-items-start ms-2">
                            <span class="card-title fs-3 fw-bolder">Deliverd</span>
                            <span class="card-text">
                                @*Orders Thats been Deliverd to The Clients*@
                                Some description
                            </span>
                        </span>
                    </div>

                </div>
            </div>
            <div class="col-sm-3 mb-2">
                <div class="card">
                    <div class="card-body flexer">
                        <span class="d-flex align-items-center ms-2">
                            <h5 class="card-title fs-3 fw-bolder badger btn-dark">@Model.Canceled</h5>
                        </span>
                        <span class="d-flex flex-column align-items-start ms-2">
                            <span class="card-title fs-3 fw-bolder">Canceled</span>
                            <span class="card-text">
                                @*Orders thats been Canceled By the Client*@
                                Some description
                            </span>
                        </span>
                    </div>


                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xl-8">
                <div class="card">
                    <div class="card-body pb-2">
                        <div class="d-flex align-items-center justify-content-between mb-3">
                            <h5 >Latest Orders</h5>


                            <div class="d-flex flex-shrink-0">
                                <a asp-controller="Order" asp-action="Index" class="btn btn-sm btn-light-dark">More</a>
                            </div>
                        </div>
                        <table id="az_tablesUI" class="table table-row-bordered gy-5">
                            <thead>
                                <tr class="fw-bold fs-6 text-muted" >
                                    <th>
                                        Name
                                    </th>
                                    <th>
                                        Address
                                    </th>
                                    <th>
                                        Date
                                    </th>
                                    <th>
                                        Cost
                                    </th>
                                    <th>
                                        Sell Price
                                    </th>

                                    <th>
                                        Statue
                                    </th>

                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.order.Take(5))
                                {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Client.ClientName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Address)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.DateOFOrder)
                                    </td>
                                    <td class="currency">
                                        @Html.DisplayFor(modelItem => item.Total_price)
                                    </td>
                                    <td class="currency">
                                        @Html.DisplayFor(modelItem => item.SellPrice)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.OrderStatus)
                                    </td>


                                </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>


            <div class="col-xl-4">
                <div class="card">
                    <div class="card-body pb-2">
                        <div class="mb-3">
                            <label for="disabledTextInput" class="form-label">Operations</label>

                        </div>
                        <div class="mb-3">
                            <a href="../Order/Create" class="btn btn-flex btn-dark col-12">
                                <span class="svg-icon svg-icon-2x">
                                    <i class='bx bxs-cart icon'></i>
                                </span>
                                <span class="d-flex flex-column align-items-start ms-2">
                                    <span class="fs-3 fw-bolder">New Orders</span>
                                    <span class="fs-7">Some description</span>
                                </span>
                            </a>
                        </div>
                        <div class="mb-3">
                            <a href="../Product/Create" class="btn btn-flex btn-dark col-12">
                                <span class="svg-icon svg-icon-2x">
                                    <i class='bx bxs-purchase-tag icon'></i>
                                </span>
                                <span class="d-flex flex-column align-items-start ms-2">
                                    <span class="fs-3 fw-bolder">New Product</span>
                                    <span class="fs-7">Some description</span>
                                </span>
                            </a>
                        </div>
                        <div class="mb-3">
                            <a href="../Client/Create" class="btn btn-flex btn-dark col-12">
                                <span class="svg-icon svg-icon-2x">
                                    <i class='bx bxs-user-plus icon'></i>
                                </span>
                                <span class="d-flex flex-column align-items-start ms-2">
                                    <span class="fs-3 fw-bolder">New Clients</span>
                                    <span class="fs-7">Some description</span>
                                </span>
                            </a>
                        </div>
                        <div class="mb-3">
                            <a href="../Client/Index" class="btn btn-flex btn-dark col-12">
                                <span class="svg-icon svg-icon-2x">
                                    <i class='bx bx-history icon'></i>
                                </span>
                                <span class="d-flex flex-column align-items-start ms-2">
                                    <span class="fs-3 fw-bolder">Client History</span>
                                    <span class="fs-7">Some description</span>
                                </span>
                            </a>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</fieldset>
@*</form>*@
<script src="~/pluginus/jquery/jquery.js"></script>

<script>
    $(function () {
        $("#az_tablesUI").DataTable({
            "responsive": true,
            "lengthChange": false,
            "autoWidth": false,
            //"buttons": ["copy", "csv", "excel", "pdf", "print", "colvis"]
            "buttons": ["print", "colvis"],
            "select": {
                style: 'multi',
            },
            "fixedHeader": {
                //header: false,
                footer: true
            }
        })
            .buttons().container().appendTo('#example1_wrapper .col-md-6:eq(0)');
        $('#example2').DataTable({
            "paging": true,
            "lengthChange": false,
            "searching": false,
            "ordering": true,
            "info": true,
            "autoWidth": false,
            "responsive": true,
        });
    });
</script>