@model OMSproject.DTO.Home
@{
    ViewData["Title"] = "Index";
}
<link rel="stylesheet" href="~/css/Home/Index.css" asp-append-version="true" />
@*<link rel="stylesheet" href="~/css/OrderStyle/order.css" asp-append-version="true" />*@
<link rel="stylesheet" href="~/css/Table/TablesStyle.css" asp-append-version="true" />
@*<link rel="stylesheet" href="~/css/Table/FormControl.css" asp-append-version="true" />*@

<div class="summary-cards">
    <div class="card">
        <div class="card-icon">
            <svg width="46"
                 height="46"
                 fill="currentColor"
                 viewBox="0 0 24 24"
                 xmlns="http://www.w3.org/2000/svg">
                <path d="M11 11V5h2v6h6v2h-6v6h-2v-6H5v-2h6Z"></path>
            </svg>
        </div>
        <div class="card-info">
            <h2>@Model.New</h2>
            <p>New Orders</p>
        </div>
    </div>
    <div class="card">
        <div class="card-icon">
            <svg width="46"
                 height="46"
                 fill="currentColor"
                 viewBox="0 0 24 24"
                 xmlns="http://www.w3.org/2000/svg">
                <path d="M11 2.048V4.06a8.001 8.001 0 1 0 5.906 14.258l1.423 1.423A9.966 9.966 0 0 1 12 21.998c-5.523 0-10-4.477-10-10 0-5.185 3.947-9.45 9-9.95Zm10.95 10.95a9.948 9.948 0 0 1-2.207 5.328l-1.423-1.422a7.962 7.962 0 0 0 1.618-3.906h2.013-.001Zm-8.948-10.95a10.004 10.004 0 0 1 8.95 8.95h-2.013a8.005 8.005 0 0 0-6.937-6.938V2.047Z"></path>
            </svg>
        </div>
        <div class="card-info">
            <h2>@Model.InProgress</h2>
            <p>Inprogress</p>
        </div>
    </div>
    <div class="card">
        <div class="card-icon">
            <svg width="46"
                 height="46"
                 fill="currentColor"
                 viewBox="0 0 24 24"
                 xmlns="http://www.w3.org/2000/svg">
                <path d="m10 15.17 9.192-9.193 1.415 1.414L10 17.998l-6.364-6.364L5.05 10.22 10 15.17Z"></path>
            </svg>
        </div>
        <div class="card-info">
            <h2>@Model.Delivred</h2>
            <p>Delivered</p>
        </div>
    </div>
    <div class="card">
        <div class="card-icon">
            <svg width="46"
                 height="46"
                 fill="currentColor"
                 viewBox="0 0 24 24"
                 xmlns="http://www.w3.org/2000/svg">
                <path d="m12 10.583 4.95-4.95 1.414 1.414-4.95 4.95 4.95 4.95-1.414 1.414L12 13.41l-4.95 4.95-1.414-1.414 4.95-4.95-4.95-4.95L7.05 5.633l4.95 4.95Z"></path>
            </svg>
        </div>
        <div class="card-info">
            <h2>@Model.Canceled</h2>
            <p>Canceled</p>
        </div>
    </div>
</div>
<div class="unkown-class">

    <div class="empty-box">

        <div style="margin: 3rem 2rem 0; font-size: 1rem; font-weight: 600; width: 95%;">
            <h1 style="color:var(--peachy-red); font-size:2rem;">latest Orders</h1>
            <table class="table" style="background: var(--sec-bg); margin:3rem auto 3.5rem;">
                <thead style="color:var(--peachy-red); font-size:1.1rem;">
                    <tr>
                        <th>
                            Client
                        </th>
                        <th>
                            Address
                        </th>
                        <th>
                            Order's Date
                        </th>
                        <th>
                            Price
                        </th>
                        <th style="width: 10rem;">
                            Selling Price
                        </th>

                        <th>
                            Status
                        </th>

                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.order.Take(5))
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Client.ClientName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Address)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.DateOFOrder)
                            </td>
                            <td class="currency">
                                @Html.DisplayFor(modelItem => item.Total_price)
                            </td>
                            <td class="currency">
                                @Html.DisplayFor(modelItem => item.SellPrice)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.OrderStatus)
                            </td>


                        </tr>
                    }
                </tbody>
            </table>
            @*            <button id="more" type="button" class="form-btn" onclick="" asp-controller="Order" asp-action="Details"  style="padding: .5rem 1rem; margin: .5rem 0 0 .5rem;">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" style="width: 22px;"><path fill="hsl(var(--txt))" d="M160 400C160 408.8 152.8 416 144 416C135.2 416 128 408.8 128 400V192C128 183.2 135.2 176 144 176C152.8 176 160 183.2 160 192V400zM240 400C240 408.8 232.8 416 224 416C215.2 416 208 408.8 208 400V192C208 183.2 215.2 176 224 176C232.8 176 240 183.2 240 192V400zM320 400C320 408.8 312.8 416 304 416C295.2 416 288 408.8 288 400V192C288 183.2 295.2 176 304 176C312.8 176 320 183.2 320 192V400zM317.5 24.94L354.2 80H424C437.3 80 448 90.75 448 104C448 117.3 437.3 128 424 128H416V432C416 476.2 380.2 512 336 512H112C67.82 512 32 476.2 32 432V128H24C10.75 128 0 117.3 0 104C0 90.75 10.75 80 24 80H93.82L130.5 24.94C140.9 9.357 158.4 0 177.1 0H270.9C289.6 0 307.1 9.358 317.5 24.94H317.5zM151.5 80H296.5L277.5 51.56C276 49.34 273.5 48 270.9 48H177.1C174.5 48 171.1 49.34 170.5 51.56L151.5 80zM80 432C80 449.7 94.33 464 112 464H336C353.7 464 368 449.7 368 432V128H80V432z" /></svg>
            </button>*@
            <a class="form-btn" style="color:var(--peachy-red); font-size:1.3rem; background:hsl(var(--thd-bg));padding: .5rem 1rem;border-radius: .5rem;margin: 1rem;border: 2px solid var(--peachy-red);" asp-controller="Order" asp-action="Index">See More</a>
        </div>
    </div>

    <div class="side-btns">
        <div class="operation-btn">
            <div class="btn">
                <div class="btn-info">
                    <a href="../Order/Create">
                        <h3 class="btn-new">New Order</h3>
                </div>
                <div class="btn-icon">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" stroke-linecap="round" stroke-linejoin="round">
                        <path d="M2,3H4.23a1,1,0,0,1,1,.74L8.1,14.52A2,2,0,0,0,10,16h6.53a2,2,0,0,0,1.9-1.37l2.1-6.31A1,1,0,0,0,19.61,7H6.1" stroke-linecap="round"></path>
                        <line x1="9.99" y1="20" x2="10.01" y2="20" stroke-linecap="round" stroke-width="2"></line>
                        <line x1="15.99" y1="20" x2="16.01" y2="20" stroke-linecap="round" stroke-width="2"></line>
                    </svg>
                </div>
            </div>
        </div></a>
        <div class="operation-btn">
            <div class="btn">
                <div class="btn-info">
                    <a href="../Product/Create">
                        <h3 class="btn-new">New Product</h3>
                </div>
                <div class="btn-icon">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" stroke-linecap="round" stroke-linejoin="round">
                        <path d="M2,4v7.17a2,2,0,0,0,.59,1.42l8,8a2,2,0,0,0,2.82,0l7.18-7.18a2,2,0,0,0,0-2.82l-8-8A2,2,0,0,0,11.17,2H4A2,2,0,0,0,2,4Z"></path>
                        <circle cx="8.5" cy="8.5" r="2.5"></circle>
                    </svg>
                </div>
            </div>
        </div></a>
        <div class="operation-btn">
            <div class="btn">
                <div class="btn-info">
                    <a href="../Client/Create">
                        <h3 class="btn-new">New Client</h3>
                </div>
                <div class="btn-icon">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" stroke-linecap="round" stroke-linejoin="round">
                        <circle cx="10" cy="6" r="4"></circle>
                        <path d="M15.67,22a2,2,0,0,0,1.92-2.56A7.8,7.8,0,0,0,10,14a7.8,7.8,0,0,0-7.59,5.44A2,2,0,0,0,4.34,22Z"></path>
                        <line x1="19" y1="8" x2="19" y2="14"></line>
                        <line x1="22" y1="11" x2="16" y2="11"></line>
                    </svg>


                </div>
            </div></a>
        </div>
        <div class="operation-btn">
            <div class="btn">
                <div class="btn-info">
                    <a href="#">
                        <h3 class="btn-new">Client History</h3>
                </div>
                <div class="btn-icon">
                    <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                        <path d="m12.172 12-2.83-2.827 1.415-1.415L15 12l-4.243 4.243-1.414-1.415L12.172 12Z"></path>
                    </svg>
                </div>
            </div>
            </a>
        </div>
    </div>
</div>
