@model IEnumerable<OMSproject.Models.Order>

@{
    ViewData["Title"] = "History";
}

<div class="header">
    <div class="container-fluid d-flex align-items-center justify-content-between">
        <div class="header-text">
            Cleint / History
        </div>


        <div class="d-flex flex-shrink-0">
            <a href="#" class="btn btn-sm btn-primary">Get Pro</a>
        </div>
    </div>
</div>
<form  asp-action="Search" asp-controller="Order">
    <fieldset>
        <div class="container-fluid">
            <div class="row">
                <div class="card">
                    <div class="card-body pb-2">
                        <div class="d-flex align-items-center justify-content-between mb-5">
                            <h3>History</h3>
                            <div class="d-flex flex-shrink-0">
                                <button class="btn btn-icon btn-sm btn-light-dark" title="Back" type="button" onclick="history.back()">
                                    <i class='bx bx-arrow-back fs-4'></i>
                                </button>
                            </div>
                        </div>


                        <table class="table table-rounded table-row-bordered g-4" id="myTable">
                            <thead>
                                <tr>
                                    <th >
                                        Client Name
                                    </th>
                                    <th>
                                        Address
                                    </th>
                                    <th>
                                        Order Date
                                    </th>
                                    <th>
                                        Price
                                    </th>
                                    <th>
                                        Sell Price
                                    </th>
                                    <th>
                                        Status
                                    </th>
                                    <th>
                                        Notes
                                    </th>

                                    <th style="width: 10%"></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Client.ClientName)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Address)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.DateOFOrder)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Total_price)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.SellPrice)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.OrderStatus)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Notes)
                                        </td>

                                        <td class="table-item">
                                            <a asp-action="Edit" asp-controller="Client" asp-route-id="@item.Client_id" class="btn btn-sm btn-icon btn-light-success">
                                                <i class='bx bx-edit fs-1'></i>



                                            </a>
                                            <a asp-action="Details" asp-controller="Order" asp-route-id="@item.OrderId" class="btn btn-sm btn-icon btn-light-info">
                                                <i class='bx bxs-detail fs-1'></i>

                                            </a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>

                        </div>
                    </div>
            </div>
        </div>


@*        <button class="table-item searcher" type="submit">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="30" height="30" fill="none" stroke="var(--peachy-red)" stroke-width="1" stroke-linecap="round" stroke-linejoin="round">
                <circle cx="11" cy="11" r="9" fill="none"></circle>
                <line x1="17.5" y1="17.5" x2="22" y2="22"></line>
            </svg>
        </button>
        <input class="form-control me-2" name="term" type="search" placeholder="Search" aria-label="Search" style="float: right;width: 30%;padding: .6rem;margin: 0 0.5rem 1rem 1rem;  ">
*@




    </fieldset>
</form>
