@model OMSproject.Models.ViewModels.ClientViewModel

@{
    ViewData["Title"] = "Index";
}

<div class="header">
    <div class="container-fluid d-flex align-items-center justify-content-between  mb-3">
        <div class="header-text">
            Cleint / Index
        </div>


        <div class="d-flex flex-shrink-0">
            <a href="#" class="btn btn-sm btn-primary">Get Pro</a>
        </div>
    </div>
</div>
<form asp-controller="Client" asp-action="Index">

    <fieldset>
        <div class="container-fluid">
            <div class="row">
                <div class="card">
                    <div asp-validation-summary="ModelOnly" class="warning"></div>
                    <div class="card-body pb-2">
                        <div class="d-flex align-items-center justify-content-between mb-3">
                            <h3>New Client</h3>
                            <div class="d-flex flex-shrink-0">
                                <button class="btn btn-icon btn-sm btn-light-dark" title="Back" type="button" onclick="history.back()">
                                    <i class='bx bx-arrow-back fs-4'></i>
                                </button>
                            </div>
                        </div>

                        <div class="row mb-3">
                            <div class="col-md-3 mb-3">

                                <input asp-for="Phone" class="form-control" placeholder="1st Phone Number (09*)" aria-label="First Phone Number" />
                                <span asp-validation-for="Phone" class="warning"></span>
                            </div>
                            <div class="col-md-3 mb-3">

                                <input asp-for="Phone2" class="form-control" placeholder="2nd Phone Number (09*)" aria-label="Second Phone Number" />
                                <span asp-validation-for="Phone2" class="warning"></span>
                            </div>
                            <div class="col-md-3 mb-3">

                                <input asp-for="ClientName" class="form-control" placeholder="Client Name" />
                                <span asp-validation-for="ClientName" class="warning">@ViewBag.message</span>
                            </div>
                            <div class="col-md-2 mb-3">

                                <select asp-for="Claasification" class="form-select" asp-items="@(new SelectList(Model.ClaasificationList))" placeholder="Rank"></select>
                                <span asp-validation-for="Claasification" class="warning"></span>

                            </div>
                            @* </div>*@
                            <div class="col-md-1 mb-3 align-items-end">
                                <button title="Add New Client" type="submit" value="Add Client" class="btn btn-icon btn-light-dark float-start">
                                    <i class='bx bxs-user-plus fs-1'></i>

                                </button>
                            </div>
                        </div>
                    </div>


                    <div class="card-body pb-2">
                        <h3>Clients Index </h3>
                        <table id="example1" class="table table-rounded table-row-bordered g-4">
                            <thead>
                                <tr class="fw-bold fs-6 text-center">
                                    <th >
                                        @*ID*@
                                        #
                                    </th>
                                    <th onclick="sortTable(1)">
                                        Name

                                    </th>
                                    <th onclick="sortTable(2)">
                                        @*رقم الهاتف*@
                                        Phone
                                    </th>
                                    <th onclick="sortTable(3)">
                                        Rating
                                        @*التصنيف*@
                                    </th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.ClientsCollection)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Client_id)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.ClientName)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Phone)
                                        </td>
                                        <td id="classifications">
                                            <p class="classy">
                                                @Html.DisplayFor(modelItem => item.Claasification)
                                            </p>
                                        </td>
                                        <td class="table-item " style="width: 10%" >
                                            <a asp-action="Edit" asp-route-id="@item.Client_id" title="Edit Client" class="btn btn-sm btn-icon btn-light-success">
                                                <i class='bx bx-edit fs-1'></i>

                                            </a>
                                            @*<a asp-action="Details" asp-route-id="@item.Client_id">Details</a> | <a asp-action="Delete" asp-route-id="@item.Client_id">Delete</a>*@
                                            <a asp-action="History" asp-route-id="@item.Client_id" title="Client History" class="btn btn-sm btn-icon btn-light-primary">
                                                <i class='bx bx-history fs-1'></i>
                                            </a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
        </div>
        @*</div>*@
    </fieldset>
</form>
<script src="~/pluginus/jquery/jquery.js"></script>

<script>

    document.querySelectorAll(".classy").forEach(function (obj) {
        if (obj.innerText === "Vip") {
            obj.classList.add("Vip");
        }
        if (obj.innerText === "New") {
            obj.classList.add("New");
        }
        else if (obj.innerText === "BlackList") {
            //BlackList
            obj.classList.add("BlackList");
        }
    });
</script>
<script>
    $(function () {
        $("#example1").DataTable({
            "responsive": true,
            "lengthChange": false,
            "autoWidth": true,
            //"buttons": ["copy", "csv", "excel", "pdf", "print", "colvis"]
            //"buttons": ["print", "colvis"],

            //"fixedHeader": {
            //    //header: false,
            //    footer: true
            //}
        })
            .buttons().container().appendTo('#example1_wrapper .col-md-6:eq(0)');
        $('#example2').DataTable({
            "paging": true,
            "lengthChange": false,
            "searching": false,
            "ordering": true,
            "info": true,
            "autoWidth": false,
            "responsive": true,
        });
    });
</script>
