@model IEnumerable<OMSproject.Models.Client>

@{
    ViewData["Title"] = "Index";
}


<form class="d-flex nav-search" asp-action="Search" asp-controller="Client">
    <input class="form-control me-2" name="term" type="search" placeholder="Search" aria-label="Search">
    <button class="btn btn-outline-success" type="submit">Search</button>
</form>

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Client_id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ClientName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Phone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Claasification)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
      @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Client_id)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.ClientName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Claasification)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Client_id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Client_id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Client_id">Delete</a>
            </td>
        </tr>
      }

       
    </tbody>
</table>
