@model IEnumerable<OMSproject.Models.Client>

@{
    ViewData["Title"] = "Index";
}
<link rel="stylesheet" href="~/css/OrderStyle/order.css" asp-append-version="true" />
<link rel="stylesheet" href="~/css/Table/TablesStyle.css" asp-append-version="true" />
<link rel="stylesheet" href="~/css/Table/FormControl.css" asp-append-version="true" />

<link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
<style>
    .th-padding {
        padding: 1rem;
    }

</style>
<form class="d-flex nav-search" asp-action="Search" asp-controller="Client">
    <fieldset>
        <h1 style="font-size: 1.9rem;font-weight: 500;padding: 0rem 1rem 2rem; float: left">Client Index</h1>
        <button class="form-btn save" type="submit" style="float: right;">Search</button>
        <input class="form-control me-2" name="term" type="search" placeholder="Search" aria-label="Search" style="float: right;width: 30%;padding: .6rem;margin: 0 0.5rem 1rem 1rem;  ">




        <table class="table table-bordered" style="width: 98%;padding: 0 2rem;margin: 0px 1rem;">
            <thead style="background: #212529; color: #fff">
        <tr>
                    <th class="th-padding">
                @Html.DisplayNameFor(model => model.Client_id)
            </th>
                    <th class ="th-padding">
                @Html.DisplayNameFor(model => model.ClientName)
            </th>
                    <th class="th-padding">
                @Html.DisplayNameFor(model => model.Phone)
            </th>
                    <th class="th-padding">
                @Html.DisplayNameFor(model => model.Claasification)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
      @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Client_id)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.ClientName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Claasification)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Client_id">Edit</a> 
@*                <a asp-action="Details" asp-route-id="@item.Client_id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Client_id">Delete</a>*@
            </td>
        </tr>
      }

       
    </tbody>
</table>
</fieldset>
</form>