@model OMSproject.Models.ViewModels.OrderClientViewModel

@{
    ViewData["Title"] = "Create";
}

<div class="header">
    <div class="container-fluid d-flex align-items-center justify-content-between">
        <div class="header-text">
            Orders / Add
        </div>


        <div class="d-flex flex-shrink-0">
            <a href="#" class="btn btn-sm btn-primary">Get Pro</a>
        </div>
    </div>
</div>
<form asp-action="Create">
    <fieldset class=" mb-2">
        <div class="container-fluid">
            <div class="row">
                <div class="card">
                    <div asp-validation-summary="ModelOnly" class="warning"></div>
                    <div class="card-body pb-2">
                        <div class="d-flex align-items-center justify-content-between mb-2">
                            <h3>Select Products</h3>
                            <div class="d-flex flex-shrink-0">
                                <button class="btn btn-icon btn-sm btn-light-primary" title="Back" type="button" onclick="history.back()">
                                    <i class='bx bx-arrow-back fs-4'></i>
                                </button>
                            </div>
                        </div>

                        @*<div class="card-body">*@
                            <table id="OrderTable" class="table table-rounded table-row-bordered g-4">
                                <thead>
                                    <tr class="fw-bold fs-6">
                                        <th>Product Name</th>
                                        <th>Color</th>
                                        <th>Quantity</th>
                                        <th>Price</th>
                                        <th>
                                            <button type="button" id="addOrder" onClick="AddItem(this)" class="btn btn-sm btn-icon btn-light-info">
                                                @*<i class='bx bxs-trash fs-1'></i>*@
                                                <i class='bx bxs-message-square-add fs-1'></i>
                                            </button>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @for (int i = 0; i < Model.Items.Count; i++)
                                    {
                                        <tr >
                                            <td>
                                                <div>
                                                <select asp-for="@Model.Items[i].Product_Id" class="form-control form-control-sm" id="ProductName-@i" onClick="LoudProduct(this)" style="background:var(--body-color)" onchange="GetProductPrice(this)"
                                                        asp-items="@(new SelectList(Model.Items[i].Products,"Product_Id","Product_Name"))"></select>
                                                </div>
                                            </td>
                                            <td>
                                            <select asp-for="@Model.Items[i].ColorName" class="form-control form-control-sm" id="ColorName-@i" style="background:var(--body-color)"
                                                    asp-items="@(new SelectList(Model.Items[i].Colors,"ColorName","ColorName"))"></select>
                                            </td>
                                            <td style="width: 10%;">
                                            <input asp-for="@Model.Items[i].Quantity" class="form-control form-control-sm" id="Quantity-@i" style="background:var(--body-color)" onchange="ChangePrice(this)" />
                                                <span asp-validation-for="@Model.Items[i].Quantity" class="warning">@ViewBag.message</span>
                                            </td>
                                            <td style="width: 10%;">
                                            <input asp-for="@Model.Items[i].Price" class="form-control form-control-sm" id="Price-@i" style="background:var(--body-color)" />
                                            </td>
                                            <td style="width: 5%;">
                                                <input type="hidden" class="nothidden" asp-for="@Model.Items[i].IsHidden" />
                                                <button id="btnremoveOrder-@i" type="button" onclick="DeleteItem(this)" class="btn btn-sm btn-icon btn-light-danger">
                                                    <i class='bx bxs-trash fs-1'></i>

                                                </button>
                                                <input type="hidden" id="mm" class="nn" value=@i />
                                            </td>

                                        </tr>
                                    }

                                </tbody>
                            </table>
                        @*</div>*@
                    </div>
                </div>
            </div>
        </div>
    </fieldset>

    <fieldset>
        <div class="container-fluid">
            <div class="row">
                <div class="card">
                    <div class="card-body pb-2">
                        <div class="d-flex align-items-center justify-content-between mb-4 mt-2">
                            <h3>Client Information</h3>

                        </div>
                        @*<label for="ClientName" class="control-label">Client Name</label>*@
                        <div class="row mb-3">
                            <div class="col-md-6 mb-4">
                                <input asp-for="ClientName" onchange="(GetClientData(this))" value="" type="text" list="browsers" placeholder="Client Name..." class="form-select dark-control" />
                                <datalist id="browsers">
                                    @foreach (var item in Model.Clients)
                                    {
                                        <option value="@item.ClientName"></option>
                                    }
                                </datalist>
                            </div>
                            <div class="col-md-6 mb-4">
                                @*<label asp-for="Address" class="control-label">CLient Address</label>*@
                                <input asp-for="Address" class="form-control" placeholder="Client Address" />
                                <span asp-validation-for="Address" class="warning"></span>
                            </div>
                            <div class="col-md-6 mb-4">
                                <span asp-validation-for="ClientName" class="warning"></span>
                                @*<label asp-for="Phone" class="control-label lbl-padding">Phone Number</label>*@
                                <input asp-for="Phone" id="phone1" class="form-control" placeholder="1st Phone Number (09*)" />
                                <span asp-validation-for="Phone" class="warning"></span>

                            </div>
                            <div class="col-md-6 mb-4">
                                @*<label asp-for="Phone2" class="control-label lbl-padding">Phone Number</label>*@
                                <input asp-for="Phone2" id="phone2" class="form-control" placeholder="2nd Phone Number (09*)" />
                                <span asp-validation-for="Phone2" class="warning"></span>
                            </div>


                            <div class="col-md-6 mb-4">
                                @*<label asp-for="Total_price" class="control-label">Total Price</label>*@
                                <input asp-for="Total_price" id="totalPrice" class="form-control" placeholder="Total Price"  />
                                <span asp-validation-for="Total_price" class="warning"></span>
                            </div>
                            <div class="col-md-6 mb-4">
                                @*<label asp-for="SellPrice" class="control-label">Sell Price</label>*@
                                <input value="" asp-for="SellPrice" id="sellprice" class="form-control" placeholder="Sell Price" />
                                <span asp-validation-for="SellPrice" class="warning"></span>
                            </div>


                            <div class="col-md-6 mb-4">
                                @*<label asp-for="DateOFOrder" class="control-label">Orders Date</label>*@
                                <input asp-for="DateOFOrder" type="date" class="form-control" placeholder="Date" />
                                <span asp-validation-for="DateOFOrder" class="warning"></span>
                            </div>
                            <div class="col-md-6 mb-4">
                                @*<label asp-for="OrderStatus" class="control-label">Order State</label>*@
                                <select asp-for="OrderStatus" class="form-control" asp-items="@(new SelectList(Model.Status))" placeholder="Sell Price"></select>
                                <span asp-validation-for="OrderStatus" class="warning"></span>
                            </div>


                            <div class="col-md-12 mb-4">
                                @*<label asp-for="Notes" class="control-label">Notes</label>*@
                                <input asp-for="Notes" class="form-control" placeholder="Note ........" />
                                <span asp-validation-for="Notes" class="warning"></span>
                            </div>

                            <input type="hidden" id="hdnLastIndex" value="0" />

                            <div class="col-md-2 mb-3">
                                <input id="submit" type="submit" value="Create Order" class="btn btn-light-primary" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </fieldset>
</form>
<script src="~/pluginus/jquery/jquery.js"></script>
<script src="~/js/site.js"></script>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }

    <script>
        function GetClientData(element) {
            /* if (element.id.indexOf("ProductN") > 0) {*/

            var ClientName = element.value;
            var phone1 = document.getElementById('phone1');
            var phone2 = document.getElementById('phone2');

            $.ajax({
                url: '/Order/GetClientData?client=' + ClientName,
                success: function (data) {
                    console.log(data)
                    if (data.length != 0) {

                        phone1.value = data[0];
                        phone2.value = data[1];
                        return;
                    } else {
                        phone1.value = "";
                        phone2.value = "";
                        return;
                    }
                },
                error: function () {
                    alert('Error>...  ');
                }
            });
            /*  }*/

        }
    </script>

    <script>
        $(function () {
            $("#OrderTable").DataTable({
                "paging": false,
                "scrollY": '250px',
                //"responsive": true,
                "lengthChange": false,
                //"autoWidth": true,
                "searching": false,
                "ordering": false,
                "info": false,
                //"buttons": ["copy", "csv", "excel", "pdf", "print", "colvis"]
                //"buttons": ["print", "colvis"],

                //"fixedHeader": {
                //    //header: false,
                //    footer: true
                //}
            })
                .buttons().container().appendTo('#OrderTable_wrapper .col-md-6:eq(0)');
            $('#example2').DataTable({
                "paging": true,
                "lengthChange": false,
                "searching": false,
                "ordering": false,
                "info": false,
                "autoWidth": false,
                "responsive": true,
            });
        });
    </script>
