@model IEnumerable<OMSproject.Models.Order>

@{
    ViewData["Title"] = "Index";
}
<link rel="stylesheet" href="~/css/OrderStyle/order.css" asp-append-version="true" />
<link rel="stylesheet" href="~/css/Table/TablesStyle.css" asp-append-version="true" />
<link rel="stylesheet" href="~/css/Table/FormControl.css" asp-append-version="true" />
<link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
<style>
    .th-padding {
        padding: 1rem;
    }

</style>
<form class="d-flex nav-search" asp-action="Search" asp-controller="Order">
    <fieldset>
        <h1 style="font-size: 2rem;font-weight: 500;padding: 1rem 1rem 2rem;">Orders Index</h1>
        <input class="form-control me-2" name="term" type="search" placeholder="Search" aria-label="Search" style="float: left;width: 40%;padding: .6rem;margin: 0 0.5rem 1rem 1rem;">
    <button class="form-btn save" type="submit">Search</button>


        <table class="table table-bordered" style="width: 98%;padding: 0 2rem;margin: 0px 1rem;">
            <thead style="background: #212529; color: #fff">
        <tr>
                    <th class="th-padding">
                @Html.DisplayNameFor(model => model.Client)
            </th >
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
                    <th class ="th-padding">
                @Html.DisplayNameFor(model => model.DateOFOrder)
            </th>
                    <th class="th-padding">
                @Html.DisplayNameFor(model => model.Total_price)
            </th>
                    <th class="th-padding">
                @Html.DisplayNameFor(model => model.SellPrice)
            </th>
                    <th class="th-padding">
                @Html.DisplayNameFor(model => model.OrderStatus)
            </th>
                    <th class="th-padding">
                @Html.DisplayNameFor(model => model.Notes)
            </th>
           
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
             <td>
                @Html.DisplayFor(modelItem => item.Client.ClientName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateOFOrder)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Total_price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SellPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrderStatus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Notes)
            </td>
           
            <td>
                <a asp-action="Edit" asp-route-id="@item.OrderId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.OrderId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.OrderId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
</fieldset>
</form>