@model List<OMSproject.Models.Order>

@{
    ViewData["Title"] = "Index";
}
@*<link rel="stylesheet" href="~/css/OrderStyle/order.css" asp-append-version="true" />
<link rel="stylesheet" href="~/css/Table/TablesStyle.css" asp-append-version="true" />
<link rel="stylesheet" href="~/css/Table/FormControl.css" asp-append-version="true" />
<link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
*@
@*<style>
    .btn-Status {
        font-size: 1.5rem;
        margin: auto 0.2rem;
        padding: .2rem 1rem;
        background: hsl(var(--thd-bg)/ .2);
        color: var(--peachy-red);
        border: 1px solid var(--peachy-red);
        border-radius: .7rem;
        cursor: pointer;
        font-family: 'Cairo', sans-serif;
    }

    .cus th {
        cursor: pointer;
    }
</style>*@
<div class="header">
    <div class="container-fluid d-flex align-items-center justify-content-between">
        <div class="header-text">
            Order / Index
        </div>


        <div class="d-flex flex-shrink-0">
            <a href="#" class="btn btn-sm btn-primary">Get Pro</a>
        </div>
    </div>
</div>

<form asp-action="ChangeState" asp-controller="Order" method="post">
    <fieldset>
        <div class="container-fluid">
            <div class="row">
                <div class="card">
                    <div class="card-body pb-2">
                        <div class="d-flex align-items-center justify-content-between mb-3">
                            <h5>Orders Index</h5>
                            <div class="d-flex flex-shrink-0">
                                <button class="btn btn-icon btn-light-dark" title="Back" type="button" onclick="history.back()">
                                    <i class='bx bx-arrow-back fs-4'></i>
                                </button>
                            </div>
                        </div>

@*                        <div class="row mb-3">
                            <div class="col-md-2 mb-3">
                        <a class="table-item searcher" title="Add Order" asp-controller="Order" asp-action="Create" style="margin:0 1rem 0 0">
                            bbb
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="30" height="30" fill="none" stroke="var(--peachy-red)" stroke-width="1" stroke-linecap="round" stroke-linejoin="round">
                                <path d="M2,3H4.23a1,1,0,0,1,1,.74L8.1,14.52A2,2,0,0,0,10,16h6.53a2,2,0,0,0,1.9-1.37l2.1-6.31A1,1,0,0,0,19.61,7H6.1" stroke-linecap="round"></path>
                                <line x1="9.99" y1="20" x2="10.01" y2="20" stroke-linecap="round" stroke-width="2"></line>
                                <line x1="15.99" y1="20" x2="16.01" y2="20" stroke-linecap="round" stroke-width="2"></line>
                            </svg>
                        </a>
                        </div>
                        <div class="col-md-2 mb-3">
                        <a asp-action="Search" asp-controller="Order" class="table-item searcher" title="Search Order" type="button" style="margin: 0 1rem;">
                            aaaa
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="30" height="30" fill="none" stroke="var(--peachy-red)" stroke-width="1" stroke-linecap="round" stroke-linejoin="round">
                                <circle cx="11" cy="11" r="9" fill="none"></circle>
                                <line x1="17.5" y1="17.5" x2="22" y2="22"></line>
                            </svg>

                        </a>
                        </div>

                    </div>*@
                        <div class="d-flex align-items-center">
                        <div class="col-md-12">
                        <h5 >
                            Filter By Status
                        </h5>

                        <button asp-action="searchNew" class="btn btn-flex btn-muted">   New </button>
                        <button asp-action="searchInprogress" class="btn btn-flex btn-muted"> In-progress </button>
                        <button asp-action="searchDelivered" class="btn btn-flex btn-muted"> Delivered </button>    
                        <button asp-action="searchCanceled" class="btn btn-flex btn-muted"> Canceled  </button>
                                <button asp-action="/" class="btn btn-flex btn-muted">Profits</button>
                        </div>
                    </div>
                    </div>
                    <div class="card-body pb-2">
                    <button type="button" class="btn btn-light-success" onclick="ChangeState()">Change state</button>

                        @*<table class="table table-row-bordered gy-5" id="myTable">*@
                        <table class="table table-rounded table-row-bordered g-4" id="myTable">
                            <thead >
                                <tr class="fw-bold fs-6">

                                
                                    <th style="width: 5%"></th>
                                
                                <th >Client Name </th>
                                @*<th onclick="sortTable(0)"> الاسم </th>*@
                                <th>Address </th>
                                @*<th onclick="sortTable(1)">العنوان </th>*@
                                <th >Order Date</th>
                                @*<t)">تاريخ الطلبية</th>*@
                                <th >Price</th>
                                @*<t)">التكلفة</th>*@
                                <th > Sell Price </th>
                                @*<t)"> سعر البيع </th>*@
                                <th > Status</th>
                                @*<t)"> الحالة</th>*@
                                <th >Notes </th>
                                @*<th onclick="sortTable(6)">الملاحظات </th>*@
                                <th style="width: 10%"></th>
                                    @*<th style="visibility : hidden;"></th>*@
                            </tr>
                        </thead>
                        <tbody>
                            @*@foreach (var item in Model*@
                            @for (var i = 0; i < Model.Count; i++)
                            {
                                <tr>
                                                     <td name="td" style="visibility : hidden;">
                                        <input onchange="CheckboxVale(this)" asp-for="@Model[i].IsSelected" value="false">
                                    </td>
                                    <td>
                                        <input type="hidden" asp-for="@Model[i].Client.ClientName" value="@Model[i].Client.ClientName">
                                        @Html.DisplayFor(modelItem => @Model[i].Client.ClientName)
                                    </td>
                                    <td>
                                        <input type="hidden" asp-for="@Model[i].Address" value="@Model[i].Address">
                                        @Html.DisplayFor(modelItem => @Model[i].Address)
                                    </td>
                                    <td>
                                        <input type="hidden" asp-for="@Model[i].DateOFOrder" value="@Model[i].DateOFOrder">
                                        @Html.DisplayFor(modelItem => @Model[i].DateOFOrder)
                                    </td>
                                    <td class="currency">
                                        <input type="hidden" asp-for="@Model[i].Total_price" value="@Model[i].Total_price">
                                        @Html.DisplayFor(modelItem => @Model[i].Total_price)
                                    </td>
                                    <td class="currency">
                                        <input type="hidden" asp-for="@Model[i].SellPrice" value="@Model[i].SellPrice">
                                        @Html.DisplayFor(modelItem => @Model[i].SellPrice)
                                    </td>
                                    <td>
                                        <input type="hidden" asp-for="@Model[i].OrderStatus" value="@Model[i].OrderStatus">
                                        @Html.DisplayFor(modelItem => @Model[i].OrderStatus)
                                    </td>
                                    <td>
                                        <input type="hidden" asp-for="@Model[i].Notes" value="@Model[i].Notes">
                                        @Html.DisplayFor(modelItem => @Model[i].Notes)
                                    </td>

                                    <td class="table-item">
                                        <a asp-action="Edit" asp-route-id="@Model[i].OrderId" title="Edit" class="btn btn-sm btn-icon btn-light-success">
                                            <i class='bx bx-edit fs-1'></i>
                                        </a>
                                        <a asp-action="Details" asp-route-id="@Model[i].OrderId" title="Details" class="btn btn-sm btn-icon btn-light-info">
                                                <i class='bx bxs-detail fs-1'></i>

                                        </a>
                                        </td>
                                        <td hidden>
                                            <input type="hidden" asp-for="@Model[i].OrderId" value="@Model[i].OrderId">
                                        </td>
                   
                                </tr>
                            }
                        </tbody>
                    </table>
                        <input class="btn btn-success mt-4" type="submit" value="Save">
                </div>
            </div>
        </div></div>
    </fieldset>

</form>

<script src="~/pluginus/jquery/jquery.js"></script>
<script>

    function ChangeState() {

        var x = document.getElementsByName('td')
        var i;

        for (i = 0; i < x.length; i++) {
            if (x[i].style.visibility = 'hidden')
                x[i].style.visibility = 'visible'
        }

        return;
    }

    function CheckboxVale(elmnt) {
        if (elmnt.value == true) {
            elmnt.value = false;
            return;
        }
        else {
            elmnt.value = true;
            return;
        }

    }

</script>

@*<script src="~/js/productAlerts.js"></script>*@
<script>
    $(function () {
        $("#myTable").DataTable({
            "responsive": true,
            "lengthChange": false,
            "autoWidth": true,

        })
            .buttons().container().appendTo('#myTable_wrapper .col-md-6:eq(0)');
        $('#example2').DataTable({
            "paging": true,
            "lengthChange": false,
            "searching": false,
            "ordering": true,
            "info": true,
            "autoWidth": false,
            "responsive": true,
        });
    });
</script>