@model IEnumerable<OMSproject.Models.ViewModels.ProfetViewModel>

@{
    //Layout = null;
    ViewData["Title"] = "Index";
}

<div class="header">
    <div class="container-fluid d-flex align-items-center justify-content-between">
        <div class="header-text">Dashboard / Home</div>


        <div class="d-flex flex-shrink-0">
            <a href="#" class="btn btn-sm btn-primary">Get Pro</a>
        </div>
    </div>
</div>

<form asp-action="Search" asp-controller="Order">
    <fieldset>
        <div class="container-fluid">
            <div class="row">
                <div class="card">
                    <div class="card-body pb-2">
                        <div class="d-flex align-items-center justify-content-between mb-3">
                            <h5>Income Profit</h5>
                            <div class="d-flex flex-shrink-0">
                                <button class="btn btn-icon btn-sm btn-light-dark" title="Back" type="button" onclick="history.back()">
                                    <i class='bx bx-arrow-back fs-4'></i>

                                </button>
                            </div>
                        </div>

                        <div class="row mb-3">
                            <div class="col-md-3 mb-3">
                                <input type="text" id="min" name="min" class="form-control mr-5" placeholder="Start Date">
                            </div>
                            <div class="col-md-3  mb-3">
                                <input type="text" id="max" name="max" class="form-control" placeholder="End Date">
                            </div>
                            <div class="col-md-2 mb-3">
                                <a class="btn btn-light-dark" > 
                                    <span class="svg-icon svg-icon-1">
                                        <i class='bx bxs-filter-alt fs-4'></i>
                                    </span>
                                    Filter
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="card-body pb-2">
                        <table id="example1" class="table table-rounded table-row-bordered g-4">
                            <thead>
                                <tr class="fw-bold fs-6 text-muted">
                                    <th onclick="sortTable(0)">
                                        #
                                    </th>
                                    <th onclick="sortTable(1)">
                                        Order Date
                                    </th>
                                    <th onclick="sortTable(2)">
                                        Cost
                                    </th>
                                    <th onclick="sortTable(3)">
                                        Sell Price
                                    </th>
                                    <th onclick="sortTable(4)">
                                        Total Profit
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.OrderId)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.OrderDate)
                                        </td>
                                        <td class="cost">
                                            @Html.DisplayFor(modelItem => item.OrderCoast)
                                        </td>
                                        <td class="sellPrice">
                                            @Html.DisplayFor(modelItem => item.OrderSellPrice)
                                        </td>
                                        <td class="profit">
                                            @Html.DisplayFor(modelItem => item.Profet)
                                        </td>

                                    </tr>
                                }
                            </tbody>
                            <tfoot>
                                <tr>
                                    <td>
                                        Total
                                    </td>
                                    <td>
                                    </td>
                                    <td id="Tcost">
                                    </td>
                                    <td id="Tprice">
                                    </td>
                                    <td id="Tprofit">
                                    </td>

                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </fieldset>
</form>

<script src="~/pluginus/jquery/jquery.js"></script>

<script>

    function toIsoDateString(utcDate) {
        var date = new Date(utcDate);
        return date.toISOString().split('T')[0];
    }

    var x = document.getElementsByClassName('profit');
    var y = document.getElementsByClassName('cost');
    var z = document.getElementsByClassName('sellPrice');
    var Tprofit = 0;
    var Tcost = 0;
    var Tprice = 0;
    var i;

    for (i = 0; i < x.length; i++) {

        Tprofit = Tprofit + eval(x[i].innerHTML);
        Tcost = Tcost + eval(y[i].innerHTML);
        Tprice = Tprice + eval(z[i].innerHTML);
    }
    document.getElementById('Tprofit').innerHTML = Tprofit;
    document.getElementById('Tcost').innerHTML = Tcost;
    document.getElementById('Tprice').innerHTML = Tprice;

    let a = document.getElementById('Tprofit').innerHTML
    console.log(a);
    sessionStorage.setItem("text", a);
</script>

<script>
    let minDate, maxDate;

    // Custom filtering function which will search data in column four between two values
    $.fn.dataTable.ext.search.push(
        function (settings, data, dataIndex) {
            var min = minDate.val();
            var max = maxDate.val();
            var date = new Date(data[1]);
            console.log(date)
            if (
                (min === null && max === null) ||
                (min === null && date <= max) ||
                (min <= date && max === null) ||
                (min <= date && date <= max)
            ) {
                return true;
            }
            return false;
        }
    );

    $(document).ready(function () {
        // Create date inputs
        minDate = new DateTime($('#min'), {
            format: 'MMMM Do YYYY'
        });
        maxDate = new DateTime($('#max'), {
            format: 'MMMM Do YYYY'
        });

        //DataTables initialisation
        //var table = $('#example1').DataTable();
        //let table = document.getElementById("example1");

        // Refilter the table
        $('#min, #max').on('change', function () {
            table.draw();
        });
    });
</script>
<script>
    $(function () {
        $("#example1").DataTable({
            "responsive": true,
            "lengthChange": false,
            "autoWidth": false,
            //"buttons": ["copy", "csv", "excel", "pdf", "print", "colvis"]
            "buttons": ["print", "colvis"],
            "select": {
                style: 'multi',
            },
            "fixedHeader": {
                //header: false,
                footer: true
            }
        })
            .buttons().container().appendTo('#example1_wrapper .col-md-6:eq(0)');
        $('#example2').DataTable({
            "paging": true,
            "lengthChange": false,
            "searching": false,
            "ordering": true,
            "info": true,
            "autoWidth": false,
            "responsive": true,
        });
    });
</script>
