@model OMSproject.Models.ViewModels.pftViewModel

@{
    //Layout = null;
    ViewData["Title"] = "Index";
}
<link rel="stylesheet" href="~/css/OrderStyle/order.css" asp-append-version="true" />
@*<link rel="stylesheet" href="~/css/Table/TablesStyle.css" asp-append-version="true" />*@
@*<link rel="stylesheet" href="~/css/Table/FormControl.css" asp-append-version="true" />*@
@*<link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">*@

    @*datatable*@
  <link rel="stylesheet" href="~/pluginus/DataTables/css/dataTables.bootstrap5.min.css" asp-append-version="true">
<link rel="stylesheet" href="~/pluginus/Responsive/css/responsive.bootstrap5.min.css" asp-append-version="true">
<link rel="stylesheet" href="~/pluginus/Buttons/css/buttons.bootstrap5.css" asp-append-version="true">
<link rel="stylesheet" href="~/pluginus/DateTime/css/dataTables.dateTime.min.css" asp-append-version="true">
@*<link rel="stylesheet" href="~/pluginus/Buttons/css/new.css" asp-append-version="true">*@
@*<link rel="stylesheet" href="~/dist/css/adminlte.min.css" asp-append-version="true">*@
<link rel="stylesheet" href="~/dist/css/newStyle.css" asp-append-version="true">



<style>
    .btn-Status {
    font-size: 1.5rem;
    margin: auto 0.2rem;
    padding: .2rem 1rem;
    background: hsl(var(--thd-bg)/ .2);
    color: var(--peachy-red);
    border: 1px solid var(--peachy-red);
    border-radius: .7rem;
    cursor: pointer;
    }
    .cus th {
        cursor:pointer ;
    }
    input[type=search] {
        border-radius: 8px;
        border: 1px solid hsl(var(--thd-bg));
        padding: 4px 10px;
        background: hsl(var(--thd-bg));
    }

    label {

        margin-left: 0rem;
    }
    input:focus,
    select:focus,
    textarea:focus,
    button:focus {
        outline: none;
    }
    tfoot {
    background: hsl(var(--thd-bg));
    }
</style>


        <div class="d-flex flex-shrink-0">
            <a href="#" class="btn btn-sm btn-primary">Get Pro</a>
        </div>
    </div>
</div>

<form asp-action="Filter" asp-controller="Order" method="post">
    <fieldset>
        <div class="container-fluid">
            <div class="row">
                <div class="card">
                    <div class="card-body pb-2">
                        <div class="d-flex align-items-center justify-content-between mb-3">
                            <h5>Income Profit</h5>
                            <div class="d-flex flex-shrink-0">
                                <button class="btn btn-icon btn-sm btn-light-dark" title="Back" type="button" onclick="history.back()">
                                    <i class='bx bx-arrow-back fs-4'></i>


        </div>
        <div style=" clear: both; margin: 1rem;">
            <h4 style="font-weight: 400;color: hsl(var(--txt) /.5);margin: 1.5rem 0rem;">
            </h4>

                        <div class="row mb-3">
                            <div class="col-md-3 mb-3">
                                <input asp-for="@Model.StartDate" type="date" id="min" class="form-control mr-5" placeholder="Start Date">
                            </div>
                            <div class="col-md-3  mb-3">
                                <input asp-for="@Model.EndtDate" type="date" id="max"  class="form-control" placeholder="End Date">
                            </div>
                            <div class="col-md-2 mb-3">
                                <button type="submit" class="btn btn-light-dark" > 
                                    <span class="svg-icon svg-icon-1">
                                        <i class='bx bxs-filter-alt fs-4'></i>
                                    </span>
                                    Filter
                                    @*<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="21" height="23" fill="hsl(var(--txt))" stroke="none" stroke-width="1" stroke-linecap="round" stroke-linejoin="round">
                                    <path d="M21 11H6.414l5.293-5.293-1.414-1.414L2.586 12l7.707 7.707 1.414-1.414L6.414 13H21z"></path>
                                    </svg>*@
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="card-body pb-2">
                        <table id="example1" class="table table-row-bordered gy-5">
                            <thead>
                                <tr class="fw-bold fs-6 text-muted">
                                    <th onclick="sortTable(0)">
                                        #
                                    </th>
                                    <th onclick="sortTable(1)">
                                        Order Date
                                    </th>
                                    <th onclick="sortTable(2)">
                                        Cost
                                    </th>
                                    <th onclick="sortTable(3)">
                                        Sell Price
                                    </th>
                                    <th onclick="sortTable(4)">
                                        Total Profit
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @for(int i = 0;i<Model.Profet.Count; i++)
                                {
                                    <tr>
                                        <td>
                                            <input type="hidden" asp-for="@Model.Profet[i].OrderId" value="@Model.Profet[i].OrderId">
                                            @Html.DisplayFor(modelItem => @Model.Profet[i].OrderId)
                                        </td>
                                        <td>
                                            <input type="hidden" asp-for="@Model.Profet[i].OrderDate" value="@Model.Profet[i].OrderDate">
                                            @Html.DisplayFor(modelItem => @Model.Profet[i].OrderDate)
                                        </td>
                                        <td >
                                            <input class="cost" type="hidden" asp-for="@Model.Profet[i].OrderCoast" value="@Model.Profet[i].OrderCoast">
                                            @Html.DisplayFor(modelItem => @Model.Profet[i].OrderCoast)
                                        </td>
                                        <td >
                                            <input class="sellPrice" type="hidden" asp-for="@Model.Profet[i].OrderSellPrice" value="@Model.Profet[i].OrderSellPrice">
                                            @Html.DisplayFor(modelItem => @Model.Profet[i].OrderSellPrice)
                                        </td>
                                        <td >
                                            <input class="profit" type="hidden" asp-for="@Model.Profet[i].Profet" value="@Model.Profet[i].Profet">
                                            @Html.DisplayFor(modelItem => @Model.Profet[i].Profet)
                                        </td>

                    </tr>
                }
            </tbody>
            <tfoot >
                <tr>
                    <td>
                        Total
                    </td>
                    <td>
                    </td>
                    <td id="Tcost">
                        
                    </td>
                    <td id="Tprice">
                        
                    </td>
                    <td id="Tprofit">
                        
                    </td>

                                    @*<td>*@
                                    @*<input type="button" value="click" onClick="CalculateTotal()" hidden />*@
                                    @*</td>*@
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </fieldset>
</form>

<script src="~/pluginus/jquery/jquery.js"></script>


<script>

    function toIsoDateString(utcDate) {
        var date = new Date(utcDate);
        return date.toISOString().split('T')[0];
    }

    var x = document.getElementsByClassName('profit');
    var y = document.getElementsByClassName('cost');
    var z = document.getElementsByClassName('sellPrice');
    var Tprofit = 0;
    var Tcost = 0;
    var Tprice = 0;
    var i;

    for (i = 0; i < x.length; i++) {

        Tprofit = Tprofit + eval(x[i].value);
        Tcost = Tcost + eval(y[i].value);
        Tprice = Tprice + eval(z[i].value);
    }
    document.getElementById('Tprofit').innerHTML = Tprofit;
    document.getElementById('Tcost').innerHTML = Tcost;
    document.getElementById('Tprice').innerHTML = Tprice;



    let a = document.getElementById('Tprofit')
    console.log(a);
     sessionStorage.setItem("text",a);
        //j++;
</script>


<script>
    $(function () {
        $("#example1").DataTable({
            "responsive": true,
            "lengthChange": false,
            "autoWidth": false,
            //"buttons": ["copy", "csv", "excel", "pdf", "print", "colvis"]
            "buttons": ["print", "colvis"],
            "select": {
                style: 'multi',
            },
                "fixedHeader": {
                //header: false,
                footer: true
            }
        })
        .buttons().container().appendTo('#example1_wrapper .col-md-6:eq(0)');
        $('#example2').DataTable({
            "paging": true,
            "lengthChange": false,
            "searching": false,
            "ordering": true,
            "info": true,
            "autoWidth": false,
            "responsive": true,
        });
    });
</script>
