@model IEnumerable<OMSproject.Models.ViewModels.ProfetViewModel>

@{
    //Layout = null;
    ViewData["Title"] = "Index";
}
<link rel="stylesheet" href="~/css/OrderStyle/order.css" asp-append-version="true" />
@*<link rel="stylesheet" href="~/css/Table/TablesStyle.css" asp-append-version="true" />*@
@*<link rel="stylesheet" href="~/css/Table/FormControl.css" asp-append-version="true" />*@
@*<link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">*@

    @*datatable*@
  <link rel="stylesheet" href="~/pluginus/DataTables/css/dataTables.bootstrap5.min.css" asp-append-version="true">
<link rel="stylesheet" href="~/pluginus/Responsive/css/responsive.bootstrap5.min.css" asp-append-version="true">
<link rel="stylesheet" href="~/pluginus/Buttons/css/buttons.bootstrap5.css" asp-append-version="true">
<link rel="stylesheet" href="~/pluginus/DateTime/css/dataTables.dateTime.min.css" asp-append-version="true">
@*<link rel="stylesheet" href="~/pluginus/Buttons/css/new.css" asp-append-version="true">*@
@*<link rel="stylesheet" href="~/dist/css/adminlte.min.css" asp-append-version="true">*@
<link rel="stylesheet" href="~/dist/css/newStyle.css" asp-append-version="true">



<style>
    .btn-Status {
    font-size: 1.5rem;
    margin: auto 0.2rem;
    padding: .2rem 1rem;
    background: hsl(var(--thd-bg)/ .2);
    color: var(--peachy-red);
    border: 1px solid var(--peachy-red);
    border-radius: .7rem;
    cursor: pointer;
    }
    .cus th {
        cursor:pointer ;
    }
    input[type=search] {
        border-radius: 8px;
        border: 1px solid hsl(var(--thd-bg));
        padding: 4px 10px;
        background: hsl(var(--thd-bg));
    }

    label {

        margin-left: 0rem;
    }
    input:focus,
    select:focus,
    textarea:focus,
    button:focus {
        outline: none;
    }
    tfoot {
    background: hsl(var(--thd-bg));
    }
</style>

<form class="d-flex nav-search" asp-action="Search" asp-controller="Order">
    <fieldset>
        <button class="table-item searcher left-floater" title="Back" type="button" onclick="history.back()">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="21" height="23" fill="hsl(var(--txt))" stroke="none" stroke-width="1" stroke-linecap="round" stroke-linejoin="round">
                <path d="M21 11H6.414l5.293-5.293-1.414-1.414L2.586 12l7.707 7.707 1.414-1.414L6.414 13H21z"></path>
            </svg>
        </button>
        <h1 class="headers left-floater">Income Profit</h1>
        <div style="clear: both;"></div>

        <div>


            @*<input class="form-control me-2" name="term" type="search" placeholder="Search" aria-label="Search" style="float: right;width: 30%;padding: .6rem;margin: 0 0.5rem 1rem 1rem;  ">*@

            <div class="left-floater" style="width:25rem;">
                <label for="start">Start date</label>
                <input type="text" id="min" name="min" style="width:80%;padding: .6rem;margin: 0 0.5rem 1rem 0rem; background:hsl(var(--thd-bg));">

            </div>
            <div class="left-floater" style="width:25rem;">
                <label for="end">End date</label>
                <input type="text" id="max" name="max" style="width:80%;padding: .6rem;margin: 0 0.5rem 1rem 0rem; background:hsl(var(--thd-bg));">
@*                <button class="table-item searcher" title="Search Order" type="submit">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="21" height="23" fill="none" stroke="var(--peachy-red)" stroke-width="1" stroke-linecap="round" stroke-linejoin="round">
                        <circle cx="11" cy="11" r="9" fill="none"></circle>
                        <line x1="17.5" y1="17.5" x2="22" y2="22"></line>
                    </svg>

                </button>*@
            </div>

        </div>
       <div class="profit-details" style=" clear: both; margin: 1rem;">
        @*     <label id="Tcost" >

            </label>
            <label id="Tprice">

            </label>
            <label id="Tprofit">

            </label>*@
@*        
        <table class="table table-bordered">
            <thead>
                <th>
                    Cost
                </th>
                                <th>
                    Cost
                </th>
                <th>
                    Cost
                </th>
            </thead>
            <tbody><tr>

                <td id="Tcost">
                </td>
                <td id="Tprice">
                </td>
                <td id="Tprofit">
                </td>
            </tr>
            </tbody>*@


                    @*<td>*@
                        @*<input type="button" value="click" onClick="CalculateTotal()" hidden />*@
                    @*</td>*@
 @*               </tr>
            </table>*@
@*            <table cellspacing="5" cellpadding="5" border="0">
                <tbody>
                    <tr>
                        <td>Minimum date:</td>
                        <td><input type="text" id="min" name="min"></td>
                    </tr>
                    <tr>
                        <td>Maximum date:</td>
                        <td><input type="text" id="max" name="max"></td>
                    </tr>
                </tbody>
            </table>*@
        </div>
        <div style=" clear: both; margin: 1rem;">
            <h4 style="font-weight: 400;color: hsl(var(--txt) /.5);margin: 1.5rem 0rem;">
            </h4>

        </div>
        <table id="example1" class="table table-bordered table-striped" >
            <thead class="cus">
                <tr>
                    <th onclick="sortTable(0)">
                        #
                    </th>
                    <th onclick="sortTable(1)">
                        Order Date
                    </th>
                    <th onclick="sortTable(2)">
                        Cost
                    </th>
                    <th onclick="sortTable(3)">
                        Sell Price
                    </th>
                    <th onclick="sortTable(4)">
                        Total Profit
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.OrderId)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.OrderDate)
                        </td>
                        <td class="cost">
                            @Html.DisplayFor(modelItem => item.OrderCoast)
                        </td>
                        <td class="sellPrice">
                            @Html.DisplayFor(modelItem => item.OrderSellPrice)
                        </td>
                        <td class="profit">
                            @Html.DisplayFor(modelItem => item.Profet)
                        </td>

                    </tr>
                }
            </tbody>
            <tfoot >
                <tr>
                    <td>
                        Total
                    </td>
                    <td>
                    </td>
                    <td id="Tcost">
                        
                    </td>
                    <td id="Tprice">
                        
                    </td>
                    <td id="Tprofit">
                        
                    </td>

                    @*<td>*@
                        @*<input type="button" value="click" onClick="CalculateTotal()" hidden />*@
                    @*</td>*@
                </tr>
            </tfoot>
        </table>
    </fieldset>
</form>

<script src="~/pluginus/jquery/jquery.js"></script>
<!-- Bootstrap 4 -->
<!-- <script src="~/plugins/bootstrap/js/bootstrap.bundle.min.js"></script> -->
<!-- DataTables  & Plugins -->
<script src="~/pluginus/datatables/js/jquery.dataTables.min.js"></script>
<script src="~/pluginus/datatables/js/dataTables.bootstrap5.min.js"></script>

<script src="~/pluginus/responsive/js/dataTables.responsive.min.js"></script>
<script src="~/pluginus/DataTables/js/dataTables.bootstrap5.min.js"></script>
<script src="~/pluginus/responsive/js/responsive.bootstrap5.min.js"></script>

<script src="~/pluginus/buttons/js/dataTables.buttons.js"></script>
<script src="~/pluginus/buttons/js/buttons.bootstrap5.min.js"></script>
<script src="~/pluginus/jszip/jszip.min.js"></script>
<script src="~/pluginus/pdfmake/pdfmake.min.js"></script>
<script src="~/pluginus/pdfmake/vfs_fonts.js"></script>
<script src="~/pluginus/buttons/js/buttons.html5.min.js"></script>
<script src="~/pluginus/buttons/js/buttons.print.min.js"></script>
<script src="~/pluginus/buttons/js/buttons.colVis.min.js"></script>
<script src="~/pluginus/JavaScript.js"></script>
@*<script src="~/js/profit/multiRow.js"></script>*@

<script src="~/pluginus/Moment/moment.min.js"></script> 
<script src="~/pluginus/Select/js/dataTables.select.min.js"></script> 
<script src="~/pluginus/DateTime/js/dataTables.dateTime.min.js"></script>

<script>
    //var date = new Date();
    //var monthStart = Date.UTC(date.getFullYear(), date.getMonth())
    //monthStart = toIsoDateString(monthStart);
    //starter = document.getElementById("max")
    //starter.value = monthStart;
    //console.log(monthStart);

    //var lastYear = Date.UTC(date.getFullYear(), date.getMonth() - 12);
    //lastYear = toIsoDateString(lastYear);
    //ender = document.getElementById("min")
    //ender.value = lastYear;
    //console.log(lastYear);

    function toIsoDateString(utcDate) {
        var date = new Date(utcDate);
        return date.toISOString().split('T')[0];
    }

    var x = document.getElementsByClassName('profit');
    var y = document.getElementsByClassName('cost');
    var z = document.getElementsByClassName('sellPrice');
    var Tprofit = 0;
    var Tcost = 0;
    var Tprice = 0;
    var i;

    for (i = 0; i < x.length; i++) {

        Tprofit = Tprofit + eval(x[i].innerHTML);
        Tcost = Tcost + eval(y[i].innerHTML);
        Tprice = Tprice + eval(z[i].innerHTML);
    }
    document.getElementById('Tprofit').innerHTML = Tprofit;
    document.getElementById('Tcost').innerHTML = Tcost;
    document.getElementById('Tprice').innerHTML = Tprice;

    //let arry = [];
    //let j = 0;
    //for (var i = 1; i < myDevs.length; i++) {
    //    arry[j] = myDevs[i].value;

    let a = document.getElementById('Tprofit').innerHTML
    console.log(a);
     sessionStorage.setItem("text",a);
        //j++;
</script>

<script>
    let minDate, maxDate;

    // Custom filtering function which will search data in column four between two values
    $.fn.dataTable.ext.search.push(
        function (settings, data, dataIndex) {
            var min = minDate.val();
            var max = maxDate.val();
            var date = new Date(data[1]);
            console.log(date)
            if (
                (min === null && max === null) ||
                (min === null && date <= max) ||
                (min <= date && max === null) ||
                (min <= date && date <= max)
            ) {
                return true;
            }
            return false;
        }
    );

    $(document).ready(function () {
        // Create date inputs
        minDate = new DateTime($('#min'), {
            format: 'MMMM Do YYYY'
        });
        maxDate = new DateTime($('#max'), {
            format: 'MMMM Do YYYY'
        });

         //DataTables initialisation
        //var table = $('#example1').DataTable();
        //let table = document.getElementById("example1");

        // Refilter the table
        $('#min, #max').on('change', function () {
            table.draw();
        });
    });
</script>
<script>
    $(function () {
        $("#example1").DataTable({
            "responsive": true,
            "lengthChange": false,
            "autoWidth": false,
            //"buttons": ["copy", "csv", "excel", "pdf", "print", "colvis"]
            "buttons": ["print", "colvis"],
            "select": {
                style: 'multi',
            },
                "fixedHeader": {
                //header: false,
                footer: true
            }
        })
        .buttons().container().appendTo('#example1_wrapper .col-md-6:eq(0)');
        $('#example2').DataTable({
            "paging": true,
            "lengthChange": false,
            "searching": false,
            "ordering": true,
            "info": true,
            "autoWidth": false,
            "responsive": true,
        });
    });
</script>
