@model OMSproject.Models.Product

@{
    ViewData["Title"] = "Create";
}
@*
<link rel="stylesheet" href="~/css/OrderStyle/order.css" asp-append-version="true" />
<link rel="stylesheet" href="~/css/Table/TablesStyle.css" asp-append-version="true" />
<link rel="stylesheet" href="~/css/Table/FormControl.css" asp-append-version="true" />
<link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
*@
<div class="header">
    <div class="container-fluid d-flex align-items-center justify-content-between">
        <div class="header-text">
            Product / Add
        </div>


        <div class="d-flex flex-shrink-0">
            <a href="#" class="btn btn-sm btn-primary">Get Pro</a>
        </div>
    </div>
</div>
<form asp-action="Create" name="table" id="table">

    <fieldset>

        <div class="container-fluid">
            <div class="row">
                <div class="card">
                    <div asp-validation-summary="ModelOnly" class="warning"></div>
                    <div class="card-body pb-2">
                        <div class="d-flex align-items-center justify-content-between mb-2">
                            <h3>Add New Products</h3>
                            <div class="d-flex flex-shrink-0">
                                <button class="btn btn-icon btn-sm btn-light-primary" title="Back" type="button" onclick="history.back()">
                                    <i class='bx bx-arrow-back fs-4'></i>
                                </button>
                            </div>
                        </div>

                        <div class="row mb-2">
                            <div class="col-md-6 mb-4">
                                @*<label asp-for="Product_Name" class="control-label">Product Name</label>*@
                                <input asp-for="Product_Name" class="form-control" name="product_name" placeholder="Product Name" />
                                <span asp-validation-for="Product_Name" class="warning"></span>
                            </div>
                            <div class="col-md-6 mb-4">
                                @*<label asp-for="Cost" class="control-label">Cost</label>*@
                                <input value="" asp-for="Cost" class="form-control" name="cost" placeholder="Product Cost" />
                                <span asp-validation-for="Cost" class="warning"></span>
                            </div>
                            <div class="col-md-6 mb-4">
                                @*<label asp-for="Price" class="control-label">Price</label>*@
                                <input asp-for="Price" class="form-control" name="price" placeholder="Product Price" />
                                <span asp-validation-for="Price" class="warning"></span>
                            </div>
                            <div class="col-md-6 mb-4">
                                @*<label asp-for="Total_QTY" class="control-label">Total Quantity</label>*@
                                <input asp-for="Total_QTY" id="total" class="form-control" name="total_qty" readonly placeholder="Quantity" />
                            </div>

                            <div class="col-md-12 mb-4">

                                @*<label asp-for="Notes" class="control-label">Note</label>*@
                                <input asp-for="Notes" class="form-control" name="notes" placeholder="Notes ....." />
                                <span asp-validation-for="Notes" class="warning"></span>
                            </div>

                        </div>
                        <div class="d-flex align-items-center justify-content-between">
                            <h3>Add Product Colors</h3>

                        </div>
                        @*<div class="card-body">*@
                            <table id="tableHa" class="table table-rounded table-row-bordered g-4 ">
                                <thead>
                                    <tr class="fw-bold fs-6">
                                        <th>Color</th>
                                        <th>Quantity</th>
                                        <th>
                                            <button type="button" id="addcolor" class="btn btn-sm btn-icon btn-light-info" onClick="AddItem(this)">
                                                <i class='bx bxs-message-square-add fs-1'></i>

                                            </button>

                                        </th>
                                    </tr>
                                </thead>
                                <tbody>

                                    @for (int i = 0; i < Model.colors.Count; i++)
                                    {
                                        <tr>
                                            <td>
                                            <input asp-for="@Model.colors[i].ColorName" class="form-control form-control-sm" placeholder="Product Color" style="background:var(--body-color)" />
                                                <span asp-validation-for="@Model.colors[i].ColorName" class="warning"></span>

                                            </td>
                                            <td>
                                            <input asp-for="@Model.colors[i].Quantity" class="form-control form-control-sm" style="background:var(--body-color)" />
                                                <span asp-validation-for="@Model.colors[i].Quantity" class="warning"></span>
                                            </td>
                                            <td style="width: 5%;">
                                                <input type="hidden" class="nothidden" asp-for="@Model.colors[i].IsDeleted" />
                                            <button id="btnremove-@i" type="button" class="btn btn-sm btn-icon btn-light-danger" onclick="DeleteItem(this)" style="background:var(--body-color)">
                                                    <i class='bx bxs-trash fs-1'></i>

                                                </button>
                                                <input type="hidden" id="mm" value=i />
                                            </td>
                                        </tr>
                                    }

                                </tbody>
                            </table>

                        @*</div>*@

                        <input type="hidden" id="hdnLastIndex" value="0" />

                        <div class="col-md-2 mt-3">

                            <input type="submit" value="Add Product" class="btn  btn-light-primary" />
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </fieldset>
</form>
<script src="~/pluginus/jquery/jquery.js"></script>
<script src="~/js/site.js"></script>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

}



    <script>
        $(function () {
            $("#tableHa").DataTable({
                "paging": false,
                "scrollY": '250px',
                "responsive": true,
                "lengthChange": false,
                "autoWidth": true,
                "searching": false,
                "ordering": false,
                "info": false,
                //"buttons": ["copy", "csv", "excel", "pdf", "print", "colvis"]
                //"buttons": ["print", "colvis"],

                //"fixedHeader": {
                //    //header: false,
                //    footer: true
                //}
            })
                .buttons().container().appendTo('#tableHa_wrapper .col-md-6:eq(0)');
            $('#example2').DataTable({
                "paging": true,
                "lengthChange": false,
                "searching": false,
                "ordering": false,
                "info": false,
                "autoWidth": false,
                "responsive": true,
            });
        });
    </script>
