@model OMSproject.Models.Product

@{
    ViewData["Title"] = "Details";
}
<link rel="stylesheet" href="~/css/OrderStyle/order.css" asp-append-version="true" />
<link rel="stylesheet" href="~/css/Table/TablesStyle.css" asp-append-version="true" />
<link rel="stylesheet" href="~/css/Table/FormControl.css" asp-append-version="true" />

@*<h1 class="head-title">Product Details</h1>*@
@*<button class="form-btn save" type="submit" style="float: right;">Search</button>
<input class="form-control me-2" name="term" type="search" placeholder="Search" aria-label="Search" style="float: right;width: 30%;padding: .6rem;margin: 0 0.5rem 1rem 1rem;  ">
*@


<form asp-action="Edit" name="table" id="table">

    <fieldset>
        <div asp-validation-summary="ModelOnly" class="warning"></div>

        <h1 class="head-title">Product Details</h1>
        <div class="double-input">
            <div class="form-input-container">
                <label asp-for="Product_Id" class="control-label"></label>
                <input readonly asp-for="Product_Id" class="form-control" name="product_id" />
            </div>
            <div class="form-input-container">
                <label asp-for="Product_Name" class="control-label"></label>
                <input readonly asp-for="Product_Name" class="form-control" name="product_name" />
            </div>
        </div>
        <div class="double-input">
            <div class="form-input-container">

                <label asp-for="Cost" class="control-label"></label>
                <input readonly asp-for="Cost" class="form-control" name="cost" />
            </div>
            <div class="form-input-container">

                <label asp-for="Price" class="control-label"></label>
                <input readonly asp-for="Price" class="form-control" name="price" />
            </div>
        </div>
        <div class="double-input">
            <div class="form-input-container">

                <label asp-for="Total_QTY" class="control-label"></label>
                <input readonly asp-for="Total_QTY" id="total" class="form-control-plaintext" name="total_qty" />
            </div>
            <div class="form-input-container">

                <label asp-for="Notes" class="control-label"></label>
                <input readonly asp-for="Notes" class="form-control" name="notes" />
            </div>
        </div>

        <div style="height:25rem;overflow-y:auto;">
            <table id="tableHa" class="table">
                <thead>
                    <tr>
                        <th>ProductName</th>
                        <th>Quantity</th>
                    </tr>
                </thead>
                <tbody>

                    @for (int i = 0; i < Model.colors.Count; i++)
                    {
                        <tr>
                            <td>
                                <input readonly asp-for="@Model.colors[i].ColorName" class="form-control" />
                            </td>
                            <td>
                                <input readonly asp-for="@Model.colors[i].Quantity" class="form-control Quantity" />
                            </td>
                            <td>
                                <input type="hidden" asp-for="@Model.colors[i].IsDeleted" />
                            </td>
                            <td class="table-item">
                                <a asp-action="Edit" asp-route-id="@Model?.Product_Id">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="36" height="36" fill="none" stroke="#000000" stroke-width="1" stroke-linecap="round" stroke-linejoin="round">
                                        <path d="M18.16,3.66l2.18,2.18a2,2,0,0,1,0,2.82l-13,13.05a1,1,0,0,1-.7.29H2V17.41a1,1,0,0,1,.29-.7l13.05-13A2,2,0,0,1,18.16,3.66Z"></path>
                                        <line x1="12.5" y1="6.5" x2="17.5" y2="11.5"></line>
                                    </svg>

                                </a>
                                @*<a asp-action="Details" asp-route-id="@item.Client_id">Details</a> | <a asp-action="Delete" asp-route-id="@item.Client_id">Delete</a>*@
                            </td>
                        </tr>
                    }

                </tbody>
            </table>

        </div>
        @*        <div>
        <a asp-action="Edit" asp-route-id="@Model?.Product_Id">Edit</a> |
        </div>*@
    </fieldset>
</form>



