@model OMSproject.Models.Product

@{
    ViewData["Title"] = "Details";
}
<div class="header">
    <div class="container-fluid d-flex align-items-center justify-content-between">
        <div class="header-text">
            Product / Details
        </div>


        <div class="d-flex flex-shrink-0">
            <a href="#" class="btn btn-sm btn-primary">Get Pro</a>
        </div>
    </div>
</div>
<form asp-action="Details" name="table" id="table">

    <fieldset>
        <div class="container-fluid">
            <div class="row">
                <div class="card">
                    <div class="card-body pb-2">
                        <div class="d-flex align-items-center justify-content-between mb-5">
                            <h3>Products </h3>
                            <div class="d-flex flex-shrink-0">
                                <button class="btn btn-icon btn-sm btn-light-dark" title="Back" type="button" onclick="history.back()">
                                    <i class='bx bx-arrow-back fs-4'></i>
                                </button>
                            </div>
                        </div>

                        <div class="row mb-3">
                            <div class="col-md-6 mb-3">
                                <label asp-for="Product_Id" class="control-label">Product ID</label>
                                <input readonly asp-for="Product_Id" class="form-control" name="product_id" />
                            </div>
                            <div class="col-md-6 mb-3">

                                <label asp-for="Product_Name" class="control-label">Product Name</label>
                                <input readonly asp-for="Product_Name" class="form-control" name="product_name" />
                            </div>
                            <div class="col-md-6 mb-3">

                                <label asp-for="Cost" class="control-label">Cost</label>
                                <input readonly asp-for="Cost" class="form-control" name="cost" />
                            </div>
                            <div class="col-md-6 mb-3">


                                <label asp-for="Price" class="control-label">Price</label>
                                <input readonly asp-for="Price" class="form-control" name="price" />
                            </div>
                            <div class="col-md-6 mb-3">

                                <label asp-for="Total_QTY" class="control-label">Total Quantity</label>
                                <input readonly asp-for="Total_QTY" id="total" class="form-control" name="total_qty" />
                            </div>
                            <div class="col-md-6 mb-3">

                                <label asp-for="Notes" class="control-label">Notes</label>
                                <input readonly asp-for="Notes" class="form-control" name="notes" />
                            </div>
                        </div>
                        </div>
                        <div class="card-body pb-2">
                            <h3>Orders Details</h3>
                        <table id="tableHa" class="table table-rounded table-row-bordered g-4">
                            <thead>
                                <tr>
                                    <th>ProductName</th>
                                    <th>Quantity</th>
                                    <th></th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>

                                @for (int i = 0; i < Model.colors.Count; i++)
                                {
                                    <tr>
                                        <td>
                                            <input readonly asp-for="@Model.colors[i].ColorName" class="form-control form-control-sm" style="background:var(--body-color)" />
                                        </td>
                                        <td>
                                            <input readonly asp-for="@Model.colors[i].Quantity" class="form-control form-control-sm" style="background:var(--body-color)"/>
                                        </td>
                                        <td>
                                            <input type="hidden" asp-for="@Model.colors[i].IsDeleted" />
                                        </td>
                                        <td style="width:5%">
                                            <a asp-action="Edit" asp-route-id="@Model?.Product_Id" class="btn btn-sm btn-icon btn-light-success">
                                                <i class='bx bx-edit fs-1'></i>


                                            </a>
                                            @*<a asp-action="Details" asp-route-id="@item.Client_id">Details</a> | <a asp-action="Delete" asp-route-id="@item.Client_id">Delete</a>*@
                                        </td>
                                    </tr>
                                }

                            </tbody>
                        </table>
                        </div>
                    </div>
                </div>
            </div>




    </fieldset>

        


</form>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

}



