@model OMSproject.Models.Product

@{
    ViewData["Title"] = "Edit";
}

<link rel="stylesheet" href="~/css/OrderStyle/order.css" asp-append-version="true" />
<link rel="stylesheet" href="~/css/Table/TablesStyle.css" asp-append-version="true" />
<link rel="stylesheet" href="~/css/Table/FormControl.css" asp-append-version="true" />
<link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">


<form asp-action="Edit" name="table" id="table">

    <fieldset>
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <button class="table-item searcher left-floater" title="Back" type="button" onclick="history.back()">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="21" height="23" fill="hsl(var(--txt))" stroke="none" stroke-width="1" stroke-linecap="round" stroke-linejoin="round">
                <path d="M21 11H6.414l5.293-5.293-1.414-1.414L2.586 12l7.707 7.707 1.414-1.414L6.414 13H21z"></path>
            </svg>
        </button>
        <h1 class="headers left-floater">Edit Products</h1>
        <div style="clear: both;"></div>

        <div class="double-input">
            <div class="form-input-container">
                <label asp-for="Product_Name" class="control-label"></label>
                <input asp-for="Product_Name" class="form-control" name="product_name" />
                <span asp-validation-for="Product_Name" class="text-danger"></span>
            </div>
            <div class="form-input-container">
                <label asp-for="Cost" class="control-label"></label>
                <input asp-for="Cost" class="form-control" name="cost" />
                <span asp-validation-for="Cost" class="text-danger"></span>
            </div>
        </div>
        <div class="double-input">
            <div class="form-input-container">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" name="price" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-input-container">
                <label asp-for="Total_QTY" class="control-label"></label>
                <input asp-for="Total_QTY" id="total" class="form-control-plaintext" name="total_qty" readonly style="border: 1px solid hsl(var(--thd-bg));padding: .8rem;border-radius: 5px;color: hsl(var(--txt) / 0.5);" />

            </div>
        </div>
        <div class="form-input-container" style="margin: 0 1rem ;">
            <label asp-for="Notes" class="control-label"></label>
            <input asp-for="Notes" class="form-control" name="notes" />
            <span asp-validation-for="Notes" class="text-danger"></span>
        </div>
        <div style="height: 25rem; overflow-y:auto;">
            <table id="tableHa" class="table">
                <thead>
                    <tr>
                        <th>Color</th>
                        <th>Quantity</th>
                        <th>
                            <button type="button" id="addcolor" class="form-btn " onClick="AddItem(this)" style="background: transparent;border: transparent;">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" style="width: 30px; ">
                                    <path fill="hsl(var(--txt))" d="M256 512c141.4 0 256-114.6 256-256S397.4 0 256 0S0 114.6 0 256S114.6 512 256 512zM232 344V280H168c-13.3 0-24-10.7-24-24s10.7-24 24-24h64V168c0-13.3 10.7-24 24-24s24 10.7 24 24v64h64c13.3 0 24 10.7 24 24s-10.7 24-24 24H280v64c0 13.3-10.7 24-24 24s-24-10.7-24-24z" />
                                </svg>
                            </button>
                        </th>
                    </tr>
                </thead>
                <tbody>

                    @*@foreach (var item in Model)*@
                    @for (int i = 0; i < Model.colors.Count; i++)
                    {
                        <tr>
                            <td>
                                <input asp-for="@Model.colors[i].ColorName" class="form-control" />
                                <span asp-validation-for="@Model.colors[i].ColorName" class="text-danger"></span>

                            </td>
                            <td style="padding: 1rem 0">
                                <input asp-for="@Model.colors[i].Quantity" class="form-control Quantity" />
                                <span asp-validation-for="@Model.colors[i].Quantity" class="text-danger"></span>
                            </td>
                            <td style="width: 10%;">
                                <input type="hidden" class="nothidden" asp-for="@Model.colors[i].IsDeleted" />
                                <button id="btnremove-@i" type="button" class="form-btn cancel" onclick="DeleteItem(this)" style="padding: .5rem 1rem;">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" style="width: 22px;"><path fill="hsl(var(--txt))" d="M160 400C160 408.8 152.8 416 144 416C135.2 416 128 408.8 128 400V192C128 183.2 135.2 176 144 176C152.8 176 160 183.2 160 192V400zM240 400C240 408.8 232.8 416 224 416C215.2 416 208 408.8 208 400V192C208 183.2 215.2 176 224 176C232.8 176 240 183.2 240 192V400zM320 400C320 408.8 312.8 416 304 416C295.2 416 288 408.8 288 400V192C288 183.2 295.2 176 304 176C312.8 176 320 183.2 320 192V400zM317.5 24.94L354.2 80H424C437.3 80 448 90.75 448 104C448 117.3 437.3 128 424 128H416V432C416 476.2 380.2 512 336 512H112C67.82 512 32 476.2 32 432V128H24C10.75 128 0 117.3 0 104C0 90.75 10.75 80 24 80H93.82L130.5 24.94C140.9 9.357 158.4 0 177.1 0H270.9C289.6 0 307.1 9.358 317.5 24.94H317.5zM151.5 80H296.5L277.5 51.56C276 49.34 273.5 48 270.9 48H177.1C174.5 48 171.1 49.34 170.5 51.56L151.5 80zM80 432C80 449.7 94.33 464 112 464H336C353.7 464 368 449.7 368 432V128H80V432z" /></svg>

                                </button>
                                <input type="hidden" id="mm" value=i />
                            </td>
                        </tr>
                    }

                </tbody>
            </table>
        </div>

        <input type="hidden" id="hdnLastIndex" value="0" />

        <div class="form-group" style="width: 10%;margin: 1rem .5rem;">
            <input type="submit" value="Save" class="form-btn save" style="color: hsl(var(--txt)); font-weight:500;" />
        </div>

    </fieldset>
</form>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

}


